.check-in {
  background-image: url(../img/bg_bottom.png);
  background-repeat: no-repeat;
  background-position: center 20px;
  &__inner {
      @include wrapper;

  padding-bottom: 143px;

  text-align: center;
  }

  &__button {
    width: 288px;
  }
  &__title {
    @include font-title;

    font-size: 36px;
    line-height: 40px;

    position: relative;

    width: 634px;
    margin: 0 auto;
    margin-bottom: 31px;
  }
}
