.check-in {
  background-image: url(../img/bg_bottom.png);
  background-repeat: no-repeat;
  background-position: center 20px;
    @media (max-width: 1440px) {
    background: none;
  }
  &__inner {
    @include wrapper;

    padding-bottom: 143px;

    text-align: center;
    @media (max-width: 1440px) {
      @include md-wrapper;
    }
  }
  &__button {
    width: 288px;
  }
  &__title {
    @include font-title;

    font-size: 36px;
    line-height: 40px;

    position: relative;

    width: 634px;
    margin: 0 auto;
    margin-bottom: 31px;
  }
}
