.guide {
  font-family: SegoeUILight, Helvetica, Roboto, Arial, sans-serif;

  position: relative;

  padding-bottom: 425px;
  &__inner {
    @include lg-wrapper;
    @media (max-width: 1440px) {
      @include md-wrapper;
    }
  }
  &__title {
    @include reset-spacings;
    @include font-title;

    font-size: 122px;
    line-height: 165px;

    padding-bottom: 40px;

    color: #000;
    &--shift-left {
      margin-left: -6px;
    }
    @media (max-width: 1440px) {
      font-size: 60px;
      line-height: 80px;

      padding-bottom: 20px;
    }
  }
  &__select-city {
    font-size: 36px;
    line-height: 42px;

    padding-top: 20px;

    color: #000;
    @media (max-width: 1440px) {
      font-size: 28px;
      line-height: 32px;

      padding-top: 10px;
    }
    button {
      font: inherit;

      cursor: pointer;

      color: #0064aa;
      border: none;
      outline: none;
      background-color: transparent;
      &:hover,
      &:focus {
        opacity: .7;
      }
    }
  }
  &  &__menu-city {
    position: absolute;
    z-index: 1;

    margin-top: 57px;

    background-color: #fff;
  }
  &__content {
    @include lg-wrapper;

    display: flex;

    margin-top: 57px;

    justify-content: space-between;
    @media (max-width: 1440px) {
      @include md-wrapper;

      flex-direction: column;
    }
  }
  &__list-city {
    width: 1041px;
    @media (max-width: 1440px) {
      width: 100%;
      overflow: hidden;
    }
  }
}
