.guide {
  font-family: SegoeUILight, Helvetica, Roboto, Arial, sans-serif;

  position: relative;
  &__title {
    @include reset-spacings;

    font-size: 122px;
    font-weight: normal;
    line-height: 165px;

    padding-bottom: 40px;

    color: #000;
    &--shift-left {
      margin-left: -6px;
    }
  }
  &__select-city {
    font-size: 36px;
    line-height: 42px;

    padding-top: 20px;

    color: #000;
    span {
      cursor: pointer;

      color: #0064aa;
    }
  }
  &  &__menu-city {
    position: absolute;
    z-index: 1;

    margin-top: 57px;

    background-color: #fff;
  }
  &__content {
    @include wrapper;

    display: flex;

    margin-top: 57px;

    justify-content: space-between;
  }
  &__list-city {
    width: 1041px;
  }
  &::before {
    position: absolute;
    top: 344px;
    left: -927px;

    display: table;

    width: 948px;
    height: 590px;

    content: '';

    background: url(../img/bg-left.png);
  }
  &::after {
    position: absolute;
    top: 428px;
    right: -1037px;

    display: table;

    width: 1031px;
    height: 518px;

    content: '';

    background: url(../img/bg-right.png);
  }
}
