.page-header {
  color: #000;
  &__inner {
    @include lg-wrapper;

    display: flex;

    padding-top: 48px;

    align-items: baseline;
    justify-content: space-between;
    @media (max-width: 1440px) {
      @include md-wrapper;
    }
  }
  &__title {
    @include reset-spacings;

    font-size: 44px;
    font-weight: normal;
    line-height: 46px;

    padding-right: 50px;
    @media (max-width: 1440px) {
      font-size: 26px;
      line-height: 28px;
    }
  }
  &__subtitle {
    font-size: 20px;
    line-height: 26px;

    display: block;

    padding-top: 7px;
    @media (max-width: 1440px) {
      font-size: 12px;
      line-height: 14px;
    }
  }
}
